h1{
    text-align: center;
    text-shadow: 2px 2px 2px #830370ec;
}
header{
    background:black;
    width: 105%;
}
nav{
   text-align: center;
   background: black;
}
nav ul {
    list-style: none;
    overflow: hidden;
    display: inline-block;

}
nav ul  li{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
nav ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
nav ul li:hover{
    background: #eca023;
}
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  #contenedor > div {
    width: 50%;
   
  }

  div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.justificado {
    text-align: justify;
}
.column {
    flex: 1; /* O puedes usar un ancho específico */
    margin: 10px; /* Espacio entre columnas */
    padding: 20px; /* Espacio interno */
}